@font-face {
    font-family:gilroy ;   
     src: url(./Gilroy-Light.otf);
  }
  @font-face {
    font-family:gilroy-bold ;  
      src: url(./Gilroy-ExtraBold.otf);
  }
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}
#main {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family:gilroy;
    background-color: #ebebeb;
}
#nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 4vw;
    height: 100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #666;
}
.links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4vw;
}
#nav h2 {
    font-family: gilroy-bold;
    font-size: 1.8vmax;
    font-weight: 700;
}

#nav h4 {
    font-size: 1.1vw;
}

#nav i {
    font-weight: 800;
    display: none;
}

#nav .links button{
    font-size: 1vw;
    padding: 0.7vw 2.5vw;
    border-radius: 50px;
    background: transparent;
border: 1px solid #666;
color: #666;
font-weight: 600;
}

.container {
    height: calc(110% - 100px);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 0vw 4vw;
    background-color: #ebebeb;
}

.left {
    padding-top: 5vw;
    height: 100%;
    width: 60%;
}

.left h1 {
    font-size: 5vmax;
    /* line-height: 4.4vw; */
}

.left h1 span {
    color:#FDFFFF;
}

.left p {
    font-size: 2vw;
    font-weight: 500;
    color: #666;
    width: 95%;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
}

.right {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 45%;
}
.right img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.button{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.left .button button {
    font-size: 1.2vw;
    width: 14vw;
    height: 4vw;
    background-color: #b06dbec3;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-weight: 700;
}
.left .button .btn{
    position: relative;
    text-align: center;
    margin-left: 50px;
    width: 16vw;
    height: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    color: #FBFBFB;
    background:#d5d5d6;
    border: 2px solid #d6d5d54e;
}
.page3{
    position: relative;
    height: 50vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5vh 0;
    color: #EBEBEB;
}
.path{
    position: relative;
    border-radius: 15px;
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #465864;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.path h4{
    font-size: 3vmax;
}
.path .choose{
 width: 18%;
 height: 80%;
 /* background-color: #b06dbec3; */
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 overflow: hidden;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: space-evenly;
     -ms-flex-pack: space-evenly;
         justify-content: space-evenly;
}
.choose h5{
    margin-top: 5px;
    font-size: 1.2vmax;
}
.path .choose .img{
     border-radius: 15px;
    object-fit: cover;
overflow: hidden;
 width: 100%;
 height: 100%;
}
.path .choose .img video{
    width: 100%;
    height: 100%;
}
.path .choose .img img{
    width: 100%;
    height: 100%;
}
.page2{
    height: 180vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.page2-left{    
    margin-top: 80px;
    width:40%;
    padding: 40px;
}
.page2-left img{
    height: 450px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;

}
.page2-left h2{
    margin-top: 40px;
    font-size:2vmax;
    line-height: 35px;
    font-weight: 500;
    color: #222;
}
.page2-right{ 
    padding: 40px;
    width:60%;

}
.page2-right img{    
    height: 650px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;

}
.page2-right h1{
    font-size: 5.5vmax;
    line-height: 90px;
    color: #222;
    font-family: gilroy-bold;
    text-transform: uppercase;
}
.page4{
    width: 100vw;
    height: 80vh;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.page4-img{
    overflow: hidden;
    position: relative;
    width: 40vw;
    height: 100%;
}
.page4-img2{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    overflow: hidden;
    position: relative;
    width: 20vw;
    height: 50%;
    top: 50%;
    font-size: 1.2vmax;
}
.page4-img2 button{
    margin-top: 30px;
    padding: 1vw 4vw;
    border-radius: 50px;
    border: none;
background-color: #465864;
font-size: 1.2vmax;
color: #E0E0E0;
}
.page4-img img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
#kinda{
    width: 100vw;
    margin-top: 4vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10vh 5vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}
.lkinda{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
-webkit-box-align: end;
    -ms-flex-align: end;
        align-items: flex-end;
 width: 48vw;
border-right: 2px solid rgb(89, 89, 89);
text-align: right;
padding-right: 4vw;
}
.lkinda h1{
    font-size: 3vw;
    font-weight: 400;
}
.line{
    width: 6%;
    height: 2px;
    margin: 25px 0;
    background-color: #000;
}
.lkinda p{
    width: 18vw;
    font-size: 1.2vw;
}
.rkinda{
    position: relative;
    width: 48vw;
}
.icon{
    position: absolute;
    width: 5vw;
    height: 5vw;
    margin-left: 3vw;
    border-radius: 50%;
    background-color: #465864;
    }
svg{
    height: 5vh;
    width: 3vw;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.top{
    margin-left: 10vw;
    margin-top: 1.5vw;
}
.top h1{
    color: rgb(89, 89, 89);
    font-size: 2vw;
    font-weight: 600;
}
.top p{
    font-size: 1.2vw;
    margin: 1vw;
    width: 13vw;
}

.footer{
    width: 100vw;
    height: 55vh;
    position: relative;
    overflow: hidden;
 }
#black{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #465864;
}
#border{
    position: relative;
    left: 8%;
   bottom: -27%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
    width: 83%;
height: 73%;
}
#border h2{
    position: absolute;
    font-size: 46px;
    color: #fff;
    left: 0%;
    top: 5%; 
}
#border h3{
    font-size: 28px;
    left: 5%;
    top: 54%;
}
#kindanav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    width: 100%;
    height: 70px;
    bottom: 0;
    color: #f9f9f9;
    position: absolute;
    border-top: 1px solid rgb(148, 145, 145); 
}
#kindanav h3{
    position: absolute;
    font-size: 25px;
    left: 8%;
}
#kindanav>p{
    font-size: 15px;
    left: 20%;
bottom: 30%;
margin-left: -60%;

}
#linksright{
    position:absolute;
 margin: 20px;
 padding: 3vh 2vw;
 right: 4%;

}
#kindanav a{
    text-decoration: none;
    color: #fff;
    margin: 6px;
   
}
#icon{
    width: 2%;
    height: 50%;
    background-color: #ffff;
    position: absolute;
    right: 3%;
}
#linkline1>h3{
    color: rgb(212, 212, 8);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
#displayflex{
    text-align: center;
    left: 28%;
    top: 10%;
    width: 55%;
    height: 45%;
    position: relative;
    /* text-align: center; */
    /* display: flex; */
    -o-object-position: center;
       object-position: center;
}
#displayflex #h1 a{ 
    padding: 10px 12px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(254, 254, 254);
    margin: 60px;
}

#displayflex  a{ 
    padding: 0 80px;
    text-align: center;
    line-height: 45Px;
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    /* margin: 65px; */
   
}

#limg{
    display: inline;
    position: absolute;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: -55%;
    width: 20%;
  
}
#limg img{
    text-align: center;
    width: 100%;
margin: 12px;
  bottom: 0;
}
#main #img3:hover{
    bottom: 10%;
    -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

@media (max-width:600px) {
    #nav{
            padding: 0 6vw;
            height: 60px;
        }
    #nav h2 {
            font-size: 5.1vw;
        }
    #nav h4 {
            display: none;
        }
    #nav i {
            display: block;
            font-size: 6vw;
        }
    #nav .links button {
            display: none;
        }
    .container{
            height: 90vh;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    .left{
            width: 100%;
            padding: 4vw 4vw;
        }
    .right{
            width: 100%;
            height: 55%;
        }
    .left h1{
            font-size: 9vw;
            line-height: 11vw;
        }
    .left p{
            font-size: 4vw;
            width: 90%;
            margin-top: 5vw;
            margin-bottom: 6vw;
            
        }
    .left button{
            padding: 0vw 0vw;
            border-radius: 3px;
            font-weight: 600;
            font-size: 5vw;
        }
    .left .button button {
        font-size: 3vw;
        width: 35vw;
        height: 10vw;
       
    }
    .left .button .btn{
        width: 35vw;
        height: 10vw;
      
    }
    
    .page3{
            height: 100vh;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            padding: 0vh 0;
        }
        .path{
            padding: 1vh 0vw;
            width: 100%;
            height: 90vh;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            gap: 50px;
            border-radius:0px;
        }
        .path h4{
        font-size: 5vmax;
    }
        .path .choose{
        width: 60%;
    
        }
        .choose h5{
        font-size: 4vmax;
    }
    .page2{
        position: relative;
        height: 250vh;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    padding: 0px;
    }
    .page2-left{    
        margin-top: 0px;
        width: 100%;
    }
    .page2-right{ 
        width:100%;
    margin-top: -30%;
    }
    .page2-right h1{
        font-size: 6vmax;
        line-height:45px;
        color: #222;
        font-family: gilroy-bold;
        text-transform: uppercase;
    }
    
    .page4{
        width: 100vw;
        height: 90vh;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 10px;
    }
    .page4-img{
        width: 90vw;
        height: 50%;
    }
    .page4-img2{
        width: 90vw;
        height: 45%;
        top: 0%;
    }
    .page4-img2 p{
        font-size: 1.2rem;
    }
    .page4-img2 button{
        margin-top: 30px;
        padding: 2.5vh 15vw;
        font-size: 3vmax;
    }
    #kinda{
        width: 100%;
        margin-top: 4vh;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .lkinda{
        width: 70vw;
    }
    .lkinda h1{
        font-size: 6vw;
        font-weight: 400;
    }
    .lkinda p{
        width: 18vw;
        font-size: 3.5vw;
    }
    .rkinda{
        width: 70vw;
    }
    .top h1{
        color: rgb(89, 89, 89);
        font-size: 6vw;
        font-weight: 600;
    }
    .top p{
        font-size: 3vw;
        margin: 1vw;
        width: 75vw;
    }
    .footer{
        width: 100vw;
        height: 60;
     }
     #displayflex{
        display: none;
     }
     #linksright{
        display: none;
     }
     #border{
        position: relative;
        left: 8%;
       bottom: -27%;
        width: 90%;
    height: 73%;
    }
    #border h2{
        font-size: 30px;
        
    }
    #kindanav>p{
    
    margin-left: 0%;
    
    }
    .icon{
        width: 10vw;
        height: 10vw;
        margin-left: -5vw;
        }
        svg{
            width: 6vw;
        }
        .page2-left{
            padding: 5px;
        }
        .page2-right{
            padding: 5px;
        }
        .page2-right img{
            background-position: center;
            -o-object-fit: none;
               object-fit: none;
        }
        .page2{
            height: 220vh;
        }
    }